<body class="main">
  <h1>Places</h1>
<h3>¿Qué clase de sitios quieres ver?</h3>
<section id="padre">
  <a href="/places/list/?type=Coffee" class="button">Coffees</a> <br><br>
  <a href="/places/list/?type=Bookstore" class="button">Bookstores</a>
</section>
<hr><br><br>
<a href="/places/new" class="button">Agregar sitios</a> 
</body>

